<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.jdbc.batch_size">0</property>
        
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:hsqldb:file:db/dpHibernate</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <mapping resource="net/digitalprimates/persistence/hibernate/tests/manyToMany/M2MPerson.hbm.xml" />
        <mapping resource="net/digitalprimates/persistence/hibernate/tests/manyToMany/M2MAddress.hbm.xml" />

        <mapping resource="net/digitalprimates/persistence/hibernate/tests/oneToMany/O2MPerson.hbm.xml" />
        <mapping resource="net/digitalprimates/persistence/hibernate/tests/oneToMany/O2MAddress.hbm.xml" />
        
        <mapping resource="bugs/bug5/domain/SecureDepartment.hbm.xml" />
        <mapping resource="bugs/bug5/domain/SecureMenu.hbm.xml" />
        <mapping resource="bugs/bug5/domain/SecurePermission.hbm.xml" />
        <mapping resource="bugs/bug5/domain/SecureRole.hbm.xml" />
        <mapping resource="bugs/bug5/domain/SecureStation.hbm.xml" />
        <mapping resource="bugs/bug5/domain/SecureUser.hbm.xml" />

    </session-factory>
</hibernate-configuration>
